@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

/* Container */
.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

.page {
    min-height: calc(100vh - 6.4rem);
}

/* Tablet and up */
@media (width >= 768px) {
    .container {
        padding: 0 2.4rem;
    }
}

/* Desktop and up */
@media (width >= 1024px) {
    .container {
        padding: 0 4.6rem;
    }
}
