html {
    scroll-behavior: smooth;
    height: 100%;
    min-height: 1vw;
    font-size: 10px;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

/* Container */
.c-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 var(--content-p);
}

.page {
    min-height: calc(100dvh - var(--header-height));
    padding-top: calc(var(--header-height) + var(--margin-gap-seciton) / 2);
}

.ppt {
    padding-top: var(--margin-gap-section-mob);
}

/* Tablet and up */
@media (width >= 768px) {
    .c-container {
        padding: 0 2.4rem;
    }

    .ppt {
        padding-top: var(--margin-gap-section-tab);
    }
}

/* Laptop and up */
@media (width >= 1024px) {
    .c-container {
        padding: 0 4.6rem;
    }

    .ppt {
        padding-top: var(--margin-gap-section-desk);
    }
}

/* Desktop and up */
@media (width >= 1280px) {
    .c-container {
        max-width: var(--container-max-width);
    }

    .ppt {
        padding-top: var(--margin-gap-section-desk);
    }
}
