.filters {
    display: flex;
    flex-direction: column;

    @media (width >= 768px) {
        align-items: flex-end;
        flex-flow: row;
        gap: var(--gap-card-mob);
    }
}

.select {
    @media (width >= 1024px) {
        width: 30rem;
    }
}

.button {
    margin-top: 1.6rem;

    @media (width >= 768px) {
        min-width: 12rem;
        height: 4.4rem;
        margin-top: 0;
    }
}
