.header {
    display: flex;
    padding-top: var(--margin-gap-section);
    flex-direction: column;
    gap: 0.8rem;
}

.search {
    margin: 1.6rem 0;

    @media (width >= 1024px) {
        max-width: 60rem;
    }
}

.container {
    display: flex;
    margin-top: 3.2rem;
    flex-direction: column;
    gap: 1.6rem;

    @media (width >= 768px) {
        gap: var(--gap-card-desk);
    }

    @media (width >= 1280px) {
        margin-top: 4.8rem;
    }
}
