.container {
    position: relative;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    width: 100%;

    @media (width >= 1024px) {
        width: 80rem;
        margin: 0 auto;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.mob {
        @media (width >= 1024px) {
            display: none;
        }
    }

    &.desk {
        display: none;

        @media (width >= 1024px) {
            display: block;
        }
    }

    @media (width >= 1280px) {
        margin: var(--margin-gap-section-desk) 0;
    }
}
