.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (width >= 1280px) {
        flex-direction: row;
    }
}

.link {
    text-decoration: none;
}

.button {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}
