.card {
    position: relative;
    display: flex;
    height: 100%;
    padding: var(--p-card-mob);
    border-radius: var(--radius-card);
    border: 1px solid var(--border);
    transition: background-color var(--trs);
    flex-direction: column;
    gap: var(--gap-card-mob);

    @media (width >= 1280px) {
        &:hover {
            background-color: var(--bg-secondary);

            .title {
                color: var(--accent-hover);
            }
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    gap: 1.2rem;
}

.complex {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2rem;
}

.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    height: 2.4rem;
    padding: 0 1.2rem;
    border-radius: 2.4rem;
    background-color: var(--bg-light);
    font-size: 1.2rem;
}

.title {
    max-width: 85%;
    min-height: calc(var(--card-title-mob) * var(--line-height-heading) * 2);
    overflow: hidden;
    transition: color var(--trs);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    @media (width >= 744px) {
        min-height: calc(var(--card-title-tab) * var(--line-height-heading) * 2);
    }

    @media (width >= 1024px) {
        min-height: calc(var(--card-title-desk) * var(--line-height-heading) * 2);
    }
}

.text {
    min-height: calc(var(--card-description-mob) * var(--line-height-description) * 2);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    @media (width >= 744px) {
        min-height: calc(var(--card-description-tab) * var(--line-height-description) * 2);
    }

    @media (width >= 1024px) {
        min-height: calc(var(--card-description-desk) * var(--line-height-description) * 2);
    }
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    margin-top: auto;
    gap: 1.2rem;
}

.author {
    display: flex;
    align-items: center;
    min-width: 0;
    gap: 0.8rem;

    .picture {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 50%;
        background-color: var(--accent-50);
        color: var(--text-secondary);
    }
}

.authorName,
.date,
.deadline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.authorName {
    min-width: 0;
}

.date {
    flex-shrink: 0;
}

.line {
    height: 1px;
    color: var(--border);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    gap: 1.2rem;
}

.deadline {
    min-height: calc(var(--card-meta-mob) * var(--line-height-heading));

    @media (width >= 744px) {
        min-height: calc(var(--card-meta-tab) * var(--line-height-heading));
    }

    @media (width >= 1024px) {
        min-height: calc(var(--card-meta-desk) * var(--line-height-heading));
    }
}

.comment {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
    gap: 0.4rem;
}

.commentIcon {
    width: 1.6rem;
    height: 1.6rem;
}

.link {
    position: absolute;
    inset: 0;
    z-index: 1;
}
