.card {
    position: relative;
    display: flex;
    padding: var(--p-card-mob);
    border-radius: var(--radius-card);
    border: 1px solid var(--border);
    flex-direction: column;
    gap: var(--gap-card-mob);
}

.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    width: 8rem;
    height: 2.4rem;
    padding: 0 1.2rem;
    border-radius: 2.4rem;
    font-size: 1.2rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.author {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.title {
    width: 60%;
    height: var(--card-title-mob);
}

.text {
    width: 100%;
    height: calc(var(--card-description-mob) * var(--line-height-description));
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    color: var(--text-secondary);
}

.authorName {
    width: 6rem;
    height: var(--card-meta-mob);
}

.createdAt {
    width: 8rem;
    height: var(--card-meta-mob);
}

.line {
    height: 1px;
    color: var(--border);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 0.4rem;
}

.commentIcon {
    width: 3.6rem;
    height: 1.6rem;
}

.deadline {
    width: 10rem;
    height: var(--card-meta-mob);
}
