.menu {
    display: none;
    gap: 2rem;

    @media (width >= 1280px) {
        display: flex;
    }
}

.item {
    width: 100%;
    height: 100%;
    transition:
        color var(--trs),
        opacity var(--trs);

    &:hover {
        color: var(--accent-hover);
    }
}

