.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 1.2rem 0;
    background-color: var(--bg-primary);
    box-shadow: inset 0 -1px 0 0 var(--border);

    @media (width >= 768px) {
        padding: 1.6rem 0;
    }
}

img.userPic {
    width: 3.2rem;
    height: 3.2rem;
}

div.userPic {
    width: 3.2rem;
    height: 3.2rem;
}
