.card {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: var(--p-card-mob);
    border-radius: var(--radius-card);
    border: 1px solid var(--border);
    flex-direction: column;
    gap: var(--gap-card-mob);
}

.iconWrap {
    display: grid;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background-color: var(--bg-secondary);
    place-items: center;
}

.icon {
    width: 1.6rem;
    height: 1.6rem;
}

.button {
    color: var(--accent);
}

.link {
    position: absolute;
    z-index: 1;
    inset: 0;
}
