.footer {
    padding-top: var(--margin-gap-base);
    padding-bottom: calc(var(--panel-height) + var(--margin-gap-base));

    @media (width >= 1280px) {
        padding-bottom: var(--margin-gap-base);
    }
}

.link {
    text-decoration: none;
    color: var(--text-primary);
    transition: color var(--trs);
    cursor: pointer;

    &:hover {
        color: var(--accent-hover);
    }

    &:active {
        color: var(--accent);
    }
}
