.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    @media (width >= 768px) {
        flex-flow: row wrap;
        max-width: 60rem;
        margin: 0 auto;
        gap: 0.8rem 1.6rem;

        & > * {
            flex: 1 0 100%;
        }
    }
}

.col {
    flex: 0 1 calc(50% - 1.6rem / 2);
}

.loader {
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary);
    opacity: 0.6;
    cursor: not-allowed;
    inset: 0;
}
