.image {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--bg-secondary);

    @media (width >= 1024px) {
        width: 8rem;
        height: 8rem;
    }
}

.initial {
    display: flex;
    align-items: center;
    justify-content: center;
}

.initialText {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
    color: var(--white);
    user-select: none;

    @media (width >= 1024px) {
        font-size: 3.5rem;
    }
}
