.image {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--bg-secondary);

    @media (width >= 1024px) {
        width: 8rem;
        height: 8rem;
    }
}

.initial {
    display: flex;
    align-items: center;
    justify-content: center;
    container-type: inline-size;
}

.initialText {
    font-size: clamp(1.8rem, 40cqw, 3.2rem);
    font-weight: 600;
    line-height: 1;
    color: var(--bg-primary);
    user-select: none;
}
