.panel {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 0 0.8rem 0.8rem;

    @media (width >= 1280px) {
        display: none;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 7.8rem;
    border-radius: 2rem;
    background-color: var(--bg-primary);
    outline: 1px solid var(--semi-border);
    outline-offset: -1px;
    gap: 2rem;
    box-shadow: var(--box-shadow);

    @media (width >= 768px) {
        --btns-count: 3;
        --gaps-count: 2;

        max-width: calc(12rem * var(--btns-count) + 2rem * var(--gaps-count));
        margin: 0 auto;
    }
}

.item {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    max-width: 12rem;
    height: 100%;
    white-space: nowrap;
    color: var(--text-secondary);
    transition:
        color var(--trs),
        opacity var(--trs),
        max-width var(--trs),
        margin var(--trs),
        padding var(--trs);
    flex-direction: column;
    flex-basis: 12rem;
    gap: 0.4rem;

    &:hover {
        color: var(--accent-hover);
    }
}

.itemHidden {
    max-width: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
}

.text {
    transition: color var(--trs);
}

.active {
    color: var(--accent);
}

.icon {
    width: 2rem;
    height: 2rem;
}
