.list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 1.6rem;

    @media (width >= 768px) {
        display: grid;
        gap: var(--gap-card-desk);
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 36rem;
    }

    @media (width >= 1024px) {
        margin-top: 2.4rem;
    }

    @media (width >= 1280px) {
        margin-top: 3.2rem;
        grid-template-columns: repeat(3, 1fr);
    }
}
